// // descendant selector. Селектор нащадка (X Y) або контекстний селектор.
// div p {
//   /* вибере всі <p> елементи, які є нащадками для <div> */
//   color: black;
// }

// // child selector. Дочірній селектор (X > Y).
// div > p {
//   /* вибере всі <p> елементи, які є безпосередніми дітьми <div> */
//   color: black;
// }

// // adjacent sibling selector. Вибір сусіднього однорідного елемента.
// h2 + p {
//   /* вибере елемент <p>, який є наступним сусідом <h2> */
//   color: black;
// }

// // General Sibling Selector (дослівний переклад  - Загальний вибір братів і сестер)
// h2 ~ p {
//   /* вибере всі <p> елементи, які є наступними сусідами <h2> */
//   color: black;
// }

ul > {
  li {
    list-style: none;
  }
}

h2 {
  + p {
    border-top: 1px solid gray;
  }
}

p {
  ~ {
    span {
      opacity: 0.8;
    }
  }
}
