/* == END == */
.badge-info {
  color: #b5b5be;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  text-align: right;
}

.badge {
  min-width: 96px;
  padding: 4px 8px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857%*/
  letter-spacing: 0.07px;
  border-radius: 20px;
  background-color: #92929d;
}

.bage-name {
  background-color: #a461d8;
}

.bage-name {
  background-color: #fc5a5a;
}

.bage-name {
  background-color: #82c43c;
}

.dog-icon {
  background-image: url("../images/dog.png");
}

.cat-icon {
  background-image: url("../images/cat.png");
}

.bird-icon {
  background-image: url("../images/bird.png");
}

.turtle-icon {
  background-image: url("../images/turtle.png");
}