/* == END == */
.btn-success {
  border: 2px solid lightgreen;
  color: lightgreen;
}

.btn-error {
  border: 2px solid red;
  color: red;
}

.btn-info {
  border: 2px solid lightblue;
  color: lightblue;
}